body {
    font-family: Arial, sans-serif;
    background-color: #F5F8FA;
}

.tweet {
    border: 1px solid #B0B8BC;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
}

.tweet p {
    margin: 0 0 10px;
}