{% extends "base.html" %}

{% block content %}
    <div class="container-sm  p-4">
        <!-- Main feed -->
        <div class="col-md-8">
            <h5>Home</h5>
            <hr>
            {% for tweet in tweets %}
                <div class="card mb-3">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">{{ tweet.user.username }} · {{ tweet.created_at }}</h6>
                        <p class="card-text">{{ tweet.content }}</p>
                    </div>
                </div>
            {% empty %}
                <p>No tweets available.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}