<div class="col-auto col-md-3 col-xl-2 p-3" style="height: 100vh">
    <a class="navbar-brand" href="#">
        <i class="fa fa-kiwi-bird fa-2x text-primary"></i>
    </a>
    <ul class="nav nav-pills flex-column mb-auto mt-5">
        <li class="nav-item">
            <a class="nav-link" href="/" aria-current="page">
                <i class="fa fa-home fa-lg" style="width: 24px; margin-right: 8px;"></i>
                <span class="nav-text">Home</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/events">
                <i class="fa fa-bolt fa-lg" style="width: 24px; margin-right: 8px;"></i>
                Events
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/reports">
                <i class="fa fa-file fa-lg" style="width: 24px; margin-right: 8px;"></i>
                Reports
            </a>
        </li>
        <li class="mt-5">
            <a class="nav-link" href="#" onclick=" document.getElementById('logout-form').submit();">
                <i class="fas fa-sign-out-alt fa-lg" style="width: 24px; margin-right: 8px;"></i>
                Logout
            </a>
            <form id="logout-form" method="POST" action="{% url 'logout' %}" style="display: none;">
                {% csrf_token %}
            </form>
        </li>
    </ul>
</div>