<div class="col-auto col-md-3 col-xl-2 p-3 border-end" style="height: 100vh">
    <a class="navbar-brand" href="#">
        <i class="fa fa-kiwi-bird fa-2x text-primary"></i>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a class="nav-link active" href="/tweets/" aria-current="page">
                Home
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/tweets/">
                Explore
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/tweets/">
                Profile
            </a>
        </li>
        <!-- ... more navigation items ... -->
    </ul>
</div>