<div class="col-auto col-md-3 col-xl-2 p-3 border-end" style="height: 100vh">
    <a class="navbar-brand" href="#">
        <i class="fa fa-kiwi-bird fa-2x text-primary"></i>
    </a>
    <ul class="nav nav-pills flex-column mb-auto mt-5">
        <li class="nav-item">
            <a class="nav-link active" href="/tweets" aria-current="page">
                <i class="fa fa-home fa-lg" style="width: 24px; margin-right: 8px;"></i>
                <span class="nav-text">Home</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/events">
                <i class="fa fa-bolt fa-lg" style="width: 24px; margin-right: 8px;"></i>
                Events
            </a>
        </li>
    </ul>
</div>